name: Integration Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Self test
        id: selftest

        # Put your action repo here
        uses: goanpeca/action-test@main
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          source-repo: "pandas-dev/pandas"
          source-folder: "pandas/web/pandas/"
          source-ref: "main"
          translations-repo: "Scientific-Python-Translations/pandas-translations"
          translations-folder: "pandas-translations/content/en/"
          translations-ref: "main"

      - name: Check outputs
        run: |
          test "${{ steps.selftest.outputs.todo }}" == "Hello world"
